/*
 * Globals
 */


/* Custom default button */
.btn-light,
.btn-light:hover,
.btn-light:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}


/*
 * Base structure
 */
.card {
  max-width: 400px; /* Ajuste a largura máxima conforme necessário */
  width: 100%; /* Certifica-se de que a largura é 100% do container pai */
  margin: 0 auto; /* Centraliza o card */
}

.cover-container {
  max-width: 42em;
}


/*
 * Header
 */

.nav-masthead .nav-link {
  color: rgba(255, 255, 255, .5);
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

 /* Adicione esta seção para o estilo de estrelas parcialmente preenchidas */
 .rating {
  color: yellow; /* Cor das estrelas não preenchidas */
  font-size: 14px; /* Tamanho das estrelas */
}

.rating span {
  display: inline-block;
  position: relative;
  padding: 0;
}

.rating span:before {
  content: "\2605"; /* Código da estrela cheia (★) */
  position: absolute;
  left: 0;
  color: gold; /* Cor das estrelas preenchidas */
}

.rating-50 span:before {
  content: "\2605"; /* Código da estrela cheia (★) */
  position: absolute;
  left: 0;
  width: 50%;
  overflow: hidden;
  color: gold; /* Cor das estrelas preenchidas */
}
.text-negrito{
  color: #9a9a9a;
}